.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-xl);
  padding: var(--spacing-l);
  border-radius: 12px;
  background-color: rgba(var(--center-channel-color-rgb), 0.08);
}
