.app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--center-channel-bg);
  color: var(--center-channel-color);
}

.app-shell__content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  @include minimal-scrollbar;
}
