.console-panel {
  display: flex;
  flex-direction: column;
  background: var(--center-channel-bg);
  border: 1px solid rgba(var(--center-channel-color-rgb), 0.12);
  border-radius: var(--radius-m);
  box-shadow: var(--elevation-1);
  overflow: hidden;

  &__body {
    padding: var(--spacing-xxl);
  }
}
