.entity-edit {
  &__chat {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;

    > * {
      flex: 1 1 auto;
      min-height: 0;
    }
  }

  &__configuration {
    width: 100%;
  }
}
