.tools-tab {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);

  &__checkboxes {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
  }

  &__checkbox-help {
    margin: 0;
    padding-left: calc(16px + var(--spacing-xs));
    font-size: var(--font-size-75);
    line-height: var(--line-height-75);
    color: rgba(var(--center-channel-color-rgb), 0.64);
  }
}
